.projects{
  display: flex;
  background:
          url("../../images/ellipses/Rectangle _projects_head.png") 80% 120% no-repeat;
  height: 70vh;

}
.topImg{

}
.topImg img{
  width: 100%;
}
.carouselContainer{
  margin: auto;
  //margin-top: 100px;
  width: 1000px;
  padding-top: 40px;
  z-index: 1;
}


.leftEllipsContainer{
  //top: 750px;
  float: left;
  position: absolute;
  padding-top: 30rem;
}
.rightEllipsContainer{
  position: absolute;
  padding-top: 40rem;
  padding-left: 44rem;
  //position: absolute;
  //left: 900px;
  //top: 3156px;
}
//.arrows{
//  position: absolute;
//  padding-left: 20rem;
//  margin-left: -2rem;
//  padding-top: 70rem;
//}
.arrows img{
  padding-right: 20px;
}
.productHeading{
  padding-top: 400px;
  padding-left: 213px;
}
.productHeading h2{
  font-size: 60px;
  line-height: 83.7%;
  /* or 50px */
  word-spacing: -0.35em;
  letter-spacing: -0.1em;
}
.imgGroup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  object-fit: contain;
  padding-top: 30rem;
  //top: 2900px
}
.imgGroup img{
  width: 80%;
  height: auto;
}
.mobileImgGroup{
  display: none;
}
.navButton {
  background: #e0e0e0;
  border: 1px solid #b71e32;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 198px;
  color: #242424;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .projects{
    display: flex;
    background:
            url("../../images/mobile/ellipses/projects_ellipse.png") left 50% no-repeat;
    height: 60vh;
    background-size: 80%;
    justify-content: center;
    margin-bottom: 1rem;
    // margin-top: 30%;
  }
  .leftEllipsContainer{
    display: none;
  }
  .rightEllipsContainer{
    display: none;
  }
  .productHeading{
    padding: 0;
    justify-self: center;
  }
  .imgGroup{
    display: none;
  }
  .productHeading{
    margin-top: 20%;
  }
  .productHeading h2{
    font-size: 28px;
   
  }
  .mobileImgGroup{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    object-fit: contain;
    padding-top: 7rem;
    //top: 2900px
  }
  .arrows{
    align-self: flex-start;
    margin-left: 5%;
  }
}
