.welcome{
  padding-top: 20rem;
  display: flex;
  height: 1100px;
  flex-shrink: 2;
  background:
          url("../../images/first_phone.png") 85% 100% no-repeat,
          url("../../images/second_phone.png") 100% 40% no-repeat,
          url("../../images/ellipses/Ellipse_welcome.png") top right no-repeat;


}

.textContainer{
  margin-left: 10%;
}
.welcomeText{

}
.welcomeText h1 {
  font-size: 80px;
  letter-spacing: -0.1em;
  word-spacing: -0.35em;
  line-height: 83.7%
}
.welcomeParagraph{

}
.welcomeParagraph p{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 113.7%;
  /* or 34px */
  letter-spacing: -0.1em;
  word-spacing: -0.35em;
  padding-top: 1rem;
}
.buttonSection{

}
.welcomeButton{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(90deg, #B71E32 0%, #202020 102%);
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin-top: 30px;
  width: 250px;
  height: 60px;
}
.welcomeButton:hover{
cursor: pointer;
}
@media (max-width: 1200px) {
  .welcome{
    background:
            url("../../images/first_phone.png") 105% 100% no-repeat,
            url("../../images/second_phone.png") 115% 40% no-repeat,
            url("../../images/ellipses/Ellipse_welcome.png") 160% 0% no-repeat;
  }
  .textContainer{
    margin-left: 10%;
    width: 20%;
  }
  .welcomeText h1 {
    font-size: 40px;
  }
  .welcomeParagraph p {
    font-size: 20px;
  }
  .welcomeButton{
    margin-top: 30px;
    width: 200px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .welcome{
    padding-top: 10px;
    background:
            url("../../images/mobile/phone1.png") bottom no-repeat,
            url("../../images/mobile/phonw_angle.png") 100% 67%  no-repeat,
            url("../../images/mobile/ellipses/ellipse_main_mobile.png") bottom center no-repeat;
    background-size: contain;
    height: 125vh;
  }
  .textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    padding-top: 20%;
    margin-left: 0;
    //justify-content: space-between;
  }
  .welcomeText h1 {
    //font-size: 30%;
    font-size: 28px;
    background: linear-gradient(#B71E32, #202020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .welcomeText p{
    font-size: 17px;
  }
  .welcomeButton {
    width: 204px;
    height: 52px;
  }
}

