.about{
  margin-top: 40px;
  text-align: center;
}
.aboutUs{
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-top: 280px;

}
.aboutUs p {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 83.7%;
  /* or 50px */
  letter-spacing: -0.1em;
  word-spacing: -0.35em;
}
.preferenceGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1367px;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding-top: 60px;
}
.gridItem{
  text-align: center;
}
@media (max-width: 768px) {
  
  .aboutUs p{
    font-size: 28px;
  }
  .gridItem h4{
    font-size: 17px;
  }
  .gridItem p{
    display: none;
  }
  .preferenceGrid{
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) ;
    grid-gap: 0.625rem;
    padding-top: 30px;
    margin-bottom: 10%;
  }
}