.feedback{
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.img{
  margin-right: 13px;
  flex-shrink: 2;
  //justify-self: flex-end;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}
.form p{
  font-size: 30px;
  line-height: 83.7%;
  letter-spacing: -0.1em;
  word-spacing: -0.1em;
}
.form h2{
  padding-top: 10px;
  font-size: 60px;
  line-height: 83.7%;

  letter-spacing: -0.1em;
  word-spacing: -0.3em;
}

.formContainer{
  display: flex;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
.formContainer input{
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  padding-right: 10px;
  margin-top: 72px;
  background: none;
  width: 401px;
  height: 40px;
}
.formContainer .nameInput{
  background-image: url("../../images/name_input.png");
  background-repeat: no-repeat;
  background-position: 90% 10%;
  //background-origin: padding-box;
}
.formContainer .emailInput{
  background-image: url("../../images/mail_input.png");
  background-repeat: no-repeat;
  background-position: 90%;
}
.formContainer .phoneInput{
  background-image: url("../../images/phone_input.png");
  background-repeat: no-repeat;
  background-position: 90%;
}
.form .Btn{
  //margin-top: 500px;
}